.mask-icon4 {
    width: 100%;
    height: 82px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .grabber4 {
    width: 36px;
    height: 5px;
    position: relative;
    border-radius: var(--br-10xs-5);
    background-color: var(--labels-tertiary);
    display: none;
    z-index: 1;
  }
  .time9 {
    text-decoration: none;
    position: relative;
    line-height: 22px;
    font-weight: 600;
    color: inherit;
  }
  .time8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg-3) var(--padding-30xl) var(--padding-sm-7)
      var(--padding-31xl);
  }
  .cellular-connection-icon4,
  .wifi-icon4 {
    height: 12.2px;
    width: 19.2px;
    position: relative;
  }
  .wifi-icon4 {
    height: 12.3px;
    width: 17.1px;
  }
  .border4,
  .cap-icon4 {
    position: absolute;
    mix-blend-mode: normal;
  }
  .border4 {
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% - 13.65px);
    border-radius: var(--br-8xs-3);
    border: 1px solid var(--native-button-text-color);
    box-sizing: border-box;
    width: 25px;
    opacity: 0.35;
  }
  .cap-icon4 {
    height: 31.54%;
    top: 36.92%;
    bottom: 31.54%;
    left: calc(50% + 12.35px);
    max-height: 100%;
    width: 1.3px;
  }
  .capacity4 {
    position: absolute;
    height: 69.23%;
    top: 15.38%;
    bottom: 15.38%;
    left: calc(50% - 11.65px);
    border-radius: var(--br-10xs-5);
    background-color: var(--native-button-text-color);
    width: 21px;
    z-index: 1;
  }
  .battery4 {
    height: 13px;
    width: 27.3px;
    position: relative;
  }
  .levels4,
  .status-bar-ios4 {
    display: flex;
    flex-direction: row;
  }
  .levels4 {
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-4xl) var(--padding-12xl) var(--padding-lg);
    gap: var(--gap-5xs-3);
  }
  .status-bar-ios4 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .card-top4 {
    align-self: stretch;
    
    flex: 1;
    position: relative;
    border-radius: var(--br-3xs) var(--br-3xs) 0 0;
    background-color: var(--color-gray-100);
    max-width: 100%;
    z-index: 1;
  }
  .card-top-frame,
  .status-bar-ios-group {
    align-self: stretch;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .card-top-frame {
    height: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-smi) 0 var(--padding-base);
  }
  .status-bar-ios-group {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs) 0 0;
    gap: var(--gap-9xs);
  }
  .chevron4,
  .label15 {
    position: relative;
    line-height: 22px;
  }
  .chevron4 {
    width: 17px;
    font-weight: 600;
    display: inline-block;
  }
  .label15 {
    text-decoration: none;
    letter-spacing: -0.4px;
    color: inherit;
    text-align: left;
  }
  .leading4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-5xs);
    gap: var(--gap-10xs);
  }
  .title4 {
    text-decoration: none;
    position: relative;
    letter-spacing: -0.4px;
    line-height: 22px;
    color: inherit;
  }
  .subtitle4 {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
  }
  .header-center,
  .layout14,
  .subtitle-frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .subtitle-frame {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-8xs);
    font-size: var(--roboto-caption-1-semibold-size);
    color: var(--native-subtitle-text-color);
    font-family: var(--roboto-caption-1-semibold);
  }
  .header-center,
  .layout14 {
    flex-direction: column;
  }
  .layout14 {
    align-self: stretch;
    gap: var(--gap-12xs);
  }
  .header-center {
    margin-bottom: -1px;
    width: 61px;
    padding: 0 var(--padding-11xl) 0 0;
    box-sizing: border-box;
  }
  .div1 {
    position: relative;
    line-height: 22px;
  }
  .trailing-button-14,
  .trailing4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trailing4 {
    margin-bottom: -4px;
    padding: var(--padding-2xs) var(--padding-base) var(--padding-2xs) 0;
    text-align: right;
    font-size: var(--font-size-lg);
  }
  .title-and-controls4 {
    height: 36px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 var(--padding-11xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .frame-parent7,
  .header-contents-ios4 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .header-contents-ios4 {
    flex-direction: row;
    padding: var(--padding-9xs) 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .frame-parent7 {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .logo-icon3 {
    align-self: stretch;
    width: 55px;
    max-height: 100%;
    object-fit: cover;
    min-height: 41px;
  }
  .icon6,
  .logo-icon3,
  .wallet1 {
    position: relative;
  }
  .icon6 {
    height: 20px;
    width: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .wallet1 {
    line-height: 22.5px;
    font-weight: 600;
  }
  .button-wallet3,
  .header6 {
    display: flex;
    flex-direction: row;
  }
  .button-wallet3 {
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-9xs);
  }
  .header6 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .tston4 {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    /* line-height: 33px; */
    /* font-weight: 600; */
    color: inherit;
  }
  .mask-group-icon4 {
    height: 24px;
    width: 24px;
    position: relative;
    object-fit: contain;
  }
  .header8 {
    width: 100%;
    /* border: 1px solid red; */
    /* align-self: stretch; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .tonstakers4 {
    /* border: 1px solid red; */
    position: relative;
    font-size: 16px;
    line-height: 25.5px;
    font-weight: 600;
    color: var(--dusty-grey-dark);
  }
  .header7 {
    /* width: 314px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: var(--body-1-size);
  }
  .maturity {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .days,
  .jun-2024 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
  }
  .days {
    color: var(--dusty-grey-dark);
  }
  .jun-2024-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xs);
  }
  .right7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
  }
  .text8 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .liqudity {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b9 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
  }
  .right8 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .text9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .underlying-apy {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .price {
    position: relative;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 600;
    color: var(--dusty-grey-dark);
  }
  .right9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .separator,
  .separator1 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .separator1 {
    color: var(--dusty-grey-dark);
    white-space: nowrap;
    font-size: 14px;
  }
  .right10 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .text10 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .implied-apy {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b10 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
  }
  .right11 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .info9,
  .text11 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .info9 {
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .icon7 {
    height: 32px;
    width: 32px;
    position: relative;
  }
  .long-yield-apy,
  .price1 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .price1 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
  }
  .left10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .separator2,
  .separator3 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .separator3 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
    white-space: nowrap;
  }
  .right12 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .text12,
  .transaction-cards2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text12 {
    flex: 1;
    justify-content: space-between;
    min-width: 164px;
    gap: var(--gap-xl);
  }
  .transaction-cards2 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-xs);
    gap: var(--gap-xs);
  }
  .icon8 {
    height: 32px;
    width: 32px;
    position: relative;
  }
  .fixed-apy,
  .price2 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 16px;
  }
  .price2 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
  }
  .left11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b11,
  .b12 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .b12 {
    font-size: var(--body-3-size);
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
    white-space: nowrap;
  }
  .right13 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .text13,
  .transaction-cards3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text13 {
    flex: 1;
    justify-content: space-between;
    min-width: 151px;
    gap: var(--gap-xl);
  }
  .transaction-cards3 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-7xs) var(--padding-xs)
      var(--padding-xs);
    gap: var(--gap-xs);
  }
  .card {
    /* border: 1px solid red; */
    border-radius: var(--br-5xl);
    background: linear-gradient(
      180deg,
      rgba(116, 116, 242, 0.6),
      rgba(116, 116, 242, 0.01)
    );
    align-items: flex-start;
    padding: var(--padding-xs);
    gap: var(--gap-base);
    text-align: center;
    font-size: var(--body-2-size);
    /* overflow-y: scroll;
    overflow-x: hidden; */
  
  }

  /* .card::-webkit-scrollbar {
    display: none; 
  } */
  .card,
  .content5,
  .frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content5 {
    align-items: center;
    padding: 0 var(--padding-5xl);
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--body-3-size);
    color: var(--snow-white);
    font-family: var(--body-3);
  }
  .frame-parent6 {
    align-items: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
    text-align: center;
    font-size: var(--body-2-size);
    color: var(--native-button-text-color);
    font-family: var(--font-sf-pro-text);
  }
  .tab-content-icon {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .tab-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-2xs);
  }
  .converter4 {
    position: relative;
    letter-spacing: 0.06px;
    line-height: 13px;
    font-weight: 600;
  }
  .tabs4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 0 0;
    gap: var(--gap-9xs);
    color: var(--snow-white);
  }
  .value20 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
  }
  .badge-android20,
  .badge20 {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
  }
  .badge20 {
    border-radius: var(--br-xl);
    background-color: var(--native-button-color);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xs);
  }
  .badge-android20 {
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--roboto-caption-1-semibold-size);
    font-family: var(--roboto-caption-1-semibold);
  }
  .frame-icon16 {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs) 0 var(--padding-10xs);
  }
  .market5 {
    position: relative;
    letter-spacing: 0.06px;
    line-height: 13px;
    font-weight: 600;
  }
  .tabs5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mid) 0 0;
    gap: var(--gap-9xs);
    color: var(--snow-white);
  }
  .value21 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
  }
  .badge-android21,
  .badge21 {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
  }
  .badge21 {
    border-radius: var(--br-xl);
    background-color: var(--native-button-color);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xs);
  }
  .badge-android21 {
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--roboto-caption-1-semibold-size);
    font-family: var(--roboto-caption-1-semibold);
  }
  .frame-icon17 {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
  }
  .balance6 {
    position: relative;
    letter-spacing: 0.06px;
    line-height: 13px;
    font-weight: 600;
  }
  .tabs6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xs) 0 0;
    gap: var(--gap-9xs);
    color: var(--dark-purple);
  }
  .value22 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
  }
  .badge-android22,
  .badge22 {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
  }
  .badge22 {
    border-radius: var(--br-xl);
    background-color: var(--native-button-color);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xs);
  }
  .badge-android22 {
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--roboto-caption-1-semibold-size);
    font-family: var(--roboto-caption-1-semibold);
  }
  .frame-icon18 {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) 0 var(--padding-smi);
  }
  .testtokens4 {
    position: relative;
    letter-spacing: 0.06px;
    line-height: 13px;
    font-weight: 600;
  }
  .tabs7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    color: var(--snow-white);
  }
  .value23 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
  }
  .badge-android23,
  .badge23 {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
  }
  .badge23 {
    border-radius: var(--br-xl);
    background-color: var(--native-button-color);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xs);
  }
  .badge-android23 {
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--roboto-caption-1-semibold-size);
    font-family: var(--roboto-caption-1-semibold);
  }
  .frame-icon19 {
    height: 28px;
    width: 28px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: calc(50% - 14px);
    overflow: hidden;
    flex-shrink: 0;
  }
  .dashboard5 {
    position: relative;
    letter-spacing: 0.06px;
    line-height: 13px;
    font-weight: 600;
  }
  .dashboard-tab2,
  .dashboard-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dashboard-wrapper {
    flex-direction: column;
    padding: var(--padding-13xl) 0 0;
  }
  .dashboard-tab2 {
    flex-direction: row;
    position: relative;
    color: var(--snow-white);
  }
  .value24 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 600;
  }
  .badge-android24,
  .badge24 {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 20px;
  }
  .badge24 {
    border-radius: var(--br-xl);
    background-color: var(--native-button-color);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-8xs);
  }
  .badge-android24 {
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-7xs);
    text-align: center;
    font-size: var(--roboto-caption-1-semibold-size);
    font-family: var(--roboto-caption-1-semibold);
  }
  .layout15 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-smi) var(--padding-9xs)
      var(--padding-sm);
    gap: var(--gap-xl);
  }
  .handle4 {
    height: 5px;
    width: 139px;
    position: relative;
    border-radius: var(--br-81xl);
    background-color: var(--snow-white);
    transform: rotate(180deg);
  }
  .navigation-bar-ios4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-2xl) var(--padding-xl) var(--padding-5xs);
  }
  .main-page,
  .tab-bar-ios4 {
    background-color: var(--black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tab-bar-ios4 {
    align-self: stretch;
    backdrop-filter: blur(44px);
    border-top: 1px solid var(--dark-grey);
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--native-button-text-color);
    font-family: var(--font-sf-pro-text);
  }
  .main-page {
    width: 100%;
    position: relative;
    border-radius: var(--br-25xl);
    gap: 114px;
    line-height: normal;
    letter-spacing: normal;
  }
  