
  .tston4 {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    /* line-height: 33px; */
    /* font-weight: 600; */
    color: inherit;
  }
  .mask-group-icon4 {
    height: 24px;
    width: 24px;
    position: relative;
    object-fit: contain;
  }
  .header8 {
    width: 100%;
    /* border: 1px solid red; */
    /* align-self: stretch; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .tonstakers4 {
    /* border: 1px solid red; */
    position: relative;
    font-size: 16px;
    line-height: 25.5px;
    font-weight: 600;
    color: var(--dusty-grey-dark);
  }
  .header7 {
    /* width: 314px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: var(--body-1-size);
  }
  .maturity {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .days,
  .jun-2024 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
  }
  .days {
    color: var(--dusty-grey-dark);
  }
  .jun-2024-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xs);
  }
  .right7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
  }
  .text8 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .liqudity {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b9 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
  }
  .right8 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .text9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .underlying-apy {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .price {
    position: relative;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 600;
    color: var(--dusty-grey-dark);
  }
  .right9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .separator,
  .separator1 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .separator1 {
    color: var(--dusty-grey-dark);
    white-space: nowrap;
    font-size: 14px;
  }
  .right10 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .text10 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .implied-apy {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .left9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b10 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
  }
  .right11 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--body-3-size);
  }
  .info9,
  .text11 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .info9 {
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .icon7 {
    height: 32px;
    width: 32px;
    position: relative;
  }
  .long-yield-apy,
  .price1 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .price1 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
  }
  .left10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .separator2,
  .separator3 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .separator3 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
    white-space: nowrap;
  }
  .right12 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .text12,
  .transaction-cards2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text12 {
    flex: 1;
    justify-content: space-between;
    min-width: 164px;
    gap: var(--gap-xl);
  }
  .transaction-cards2 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-xs);
    gap: var(--gap-xs);
  }
  .icon8 {
    height: 32px;
    width: 32px;
    position: relative;
  }
  .fixed-apy,
  .price2 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
    font-size: 16px;
  }
  .price2 {
    font-size: 16px;
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
  }
  .left11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .b11,
  .b12 {
    position: relative;
    line-height: 25.5px;
    font-weight: 600;
  }
  .b12 {
    font-size: var(--body-3-size);
    line-height: 22.5px;
    color: var(--dusty-grey-dark);
    white-space: nowrap;
  }
  .right13 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .text13,
  .transaction-cards3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text13 {
    flex: 1;
    justify-content: space-between;
    min-width: 151px;
    gap: var(--gap-xl);
  }
  .transaction-cards3 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--dark-grey);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-7xs) var(--padding-xs)
      var(--padding-xs);
    gap: var(--gap-xs);
  }
  .card {
    /* border: 1px solid red; */
    border-radius: var(--br-5xl);
    background: linear-gradient(
      180deg,
      rgba(116, 116, 242, 0.6),
      rgba(116, 116, 242, 0.01)
    );
    align-items: flex-start;
    padding: var(--padding-xs);
    gap: var(--gap-base);
    text-align: center;
    font-size: var(--body-2-size);
    /* overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom:200px ;
    height: 500px; */
  
  }

  /* .card::-webkit-scrollbar {
    display: none; 
  } */
  .card,
  .content5,
  .frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content5 {
    align-items: center;
    padding: 0 var(--padding-5xl);
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--body-3-size);
    color: var(--snow-white);
    font-family: var(--body-3);
  }

.container{
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

  